<header class="py-5"></header>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
  <h1 class="text-center fw-bolder">Về chúng tôi</h1>

  <div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="https://res.cloudinary.com/dfj3obru8/image/upload/v1684838354/logo-mk_vc9nhi.png"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <h2 class="fw-bolder">Our founding</h2>
        <em class="lead fw-normal text-muted mb-0">
          Minkiv 20 năm - Khoác lên niềm vui gia đình Việt <br />
          <br />
          Năm 1997, Công ty Cổ phần Thương mại và Dịch vụ Minkiv được thành lập
          với mục đích chính ban đầu là hoạt động trong lĩnh vực sản xuất hàng
          thời trang xuất khẩu với các sản phẩm chủ yếu làm từ len và sợi. Năm
          2001 thương hiệu thời trang MINKIV ra đời, tự hào trở thành một cột
          mốc đáng nhớ của doanh nghiệp Việt trong ngành thời trang.
        </em>
      </div>
    </div>
  </div>
</section>
<!-- About section two-->
<section class="py-5">
  <div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-first order-lg-last">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="https://admin.canifa.com/media/wysiwyg/Canifa-Casual-20208014-_1_.jpg"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <h2 class="fw-bolder">Growth &amp; beyond</h2>
        <em class="lead fw-normal text-muted mb-0">
          Mang đến niềm vui cho hàng triệu gia đình Việt <br />

          Canifa hướng đến mục tiêu mang lại niềm vui mặc mới mỗi ngày cho hàng
          triệu người tiêu dùng Việt. Chúng tôi tin rằng người dân Việt Nam cũng
          đang hướng đến một cuộc sống năng động, tích cực hơn.
        </em>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-light">
  <div class="container px-5 my-5">
    <div class="bg-light">
      <h2 class="fw-bolder">Giá trị cốt lõi của Minkiv</h2>
      <br />
      <em class="lead fw-normal text-muted mb-0"
        >20 năm phát triển - Chúng tôi luôn tuân thủ giá trị cốt lõi của
        mình</em
      >
      <br />
      <br />
      <h4>Kinh doanh dựa trên giá trị thật:</h4>
      <br />
      <em class="lead fw-normal text-muted mb-0"
        >MINKIV thiết lập hệ thống tiêu chuẩn chất lượng quốc tế áp dụng trên
        tất cả quy trình quản lý và kiểm soát chất lượng từ khâu chọn lọc nguyên
        phụ liệu cho đến khâu thiết kế và sản xuất (Oeko-tex, Cotton USA,
        Woolmark,...).</em
      >
      <br />
      <br />
      <h4>
        Minkiv cam kết phát triển xanh cùng người Việt bằng suy nghĩ và hành
        động:
      </h4>
      <br />
      <br />
    </div>

    <div class="row gx-5 align-items-center mt-5">
      <div class="col-lg-6">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="https://admin.canifa.com/media/wysiwyg/Anh_gioi_thieu-01.jpg"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <em class="fw-normal text-muted">
          <b>Đối tác xanh:</b> Minkiv chọn Cotton USA - đơn vị cung cấp nguyên
          liệu chính cho sản phẩm tại MINKIV, luôn nghiêm minh tuân thủ các chỉ
          số bền vững của nông nghiệp Mỹ: tiết kiệm nước, kỹ thuật “không làm
          đất” để bảo vệ đất trồng
        </em>
      </div>
    </div>
    <div class="row gx-5 align-items-center mt-5">
      <div class="col-lg-6">
        <em class="fw-normal text-muted">
          <b>Sản phẩm xanh:</b> MINKIV đặc biệt chú trọng nghiên cứu, kiểm định
          chất lượng với nguyên liệu đầu vào và sản phẩm đầu ra, đáp ứng những
          yêu cầu khắt khe nhất của các chứng chỉ uy tín nhất thế giới (Oeko
          Tex, Woolmark, WD…)
        </em>
      </div>
      <div class="col-lg-6">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="https://admin.canifa.com/media/wysiwyg/len-long-cuu-uc-wool-mark.jpg"
          alt="..."
        />
      </div>
    </div>
  </div>
</section>
<!-- Team members section-->
<section class="page-section bg-light pt-5" id="team">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
      <h3 class="section-subheading text-muted">
        Lorem ipsum dolor sit amet consectetur.
      </h3>
    </div>
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="team-member">
          <img
            class="mx-auto rounded-circle"
            src="https://i.pinimg.com/736x/cb/a0/74/cba074072143524cf95a461943b09a33.jpg"
            alt="..."
          />
          <h4>Nguyễn Thị Hiệp</h4>
          <p class="text-muted">PH28717</p>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Parveen Anand Twitter Profile"
            ><i class="fa-brands fa-twitter"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Parveen Anand Facebook Profile"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Parveen Anand LinkedIn Profile"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="team-member">
          <img
            class="mx-auto rounded-circle"
            src="https://i.pinimg.com/originals/70/91/fc/7091fcbe64c147c67a2818bcd06ce818.jpg"
            alt="..."
          />
          <h4>Lê Thị Mai Hương</h4>
          <p class="text-muted">PH28400</p>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Diana Petersen Twitter Profile"
            ><i class="fa-brands fa-twitter"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Diana Petersen Facebook Profile"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Diana Petersen LinkedIn Profile"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <!-- <div class="col-lg-4">
        <div class="team-member">
          <img
            class="mx-auto rounded-circle"
            src="https://i.pinimg.com/originals/73/f5/28/73f528937ac094e571270231f3bb4011.jpg"
            alt="..."
          />
          <h4>Larry Parker</h4>
          <p class="text-muted">Lead Developer</p>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Larry Parker Twitter Profile"
            ><i class="fa fa-twitter"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Larry Parker Facebook Profile"
            ><i class="fa fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Larry Parker LinkedIn Profile"
            ><i class="fa fa-linkedin"></i
          ></a>
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,
          laboriosam veritatis, quos non quis ad perspiciatis, totam corporis
          ea, alias ut unde.
        </p>
      </div>
    </div>
  </div>
</section>
